/* CSS for Menu */
.menu {
  /* border-bottom: 1px solid gray; */
}

.menu {
  text-align: center;
}
.menu ul {
  list-style-type: none;
}

.menu ul li a {
  display: inline;
  padding: 1%;
}

.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary);
}

.menu ul li a:hover {
  color: var(--primary);
}

/* CSS for Main Content */
.main-content {
  padding: 3% 0;
  background-color: #f1f2f6;
  min-height: 90vh;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1%;
  margin-top: 1%;
}
.box {
  width: 100%;
  background-color: white;
  float: left;
  padding: 2%;
}

/* CSS for Footer */
.footer {
  background-color: var(--primary);
  color: white;
}
