.login {
  padding: 2%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container {
  background-color: #f5f5f5;
  padding: 3% 2%;
  height: 100%;
  width: 400px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
}
