.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.clearfix {
  float: none;
  clear: both;
}

.tbl-full {
  width: 100%;
}

table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}

table tr td {
  padding: 1%;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--btnColor);
  padding: 0.5% 2%;
  color: white;
  border: 0;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--btnColorHover);
}

.btn-secondary {
  background-color: var(--btnColorSecondary);
  padding: 2%;
  color: black;
  border: 0;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: var(--btnColorSecondaryHover);
}

.btn-danger {
  background-color: var(--btnColorDanger);
  padding: 2%;
  color: white;
  border: 0;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: var(--btnColorDangerHover);
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 2%;
}

.form-group {
  padding: 1%;
  margin-top: 2%;
}

.form-input {
  width: 100%;
  padding: 2% 2%;
  border-radius: 2%;
  border: none;
  margin-top: 0.7%;
  background-color: white;
}

.form-group .btn-secondary {
  padding: 0.5rem 2rem !important;
  border-radius: 2%;
}
